/* CAPA DE PRESENTACIÓN */

/* Estilos del cuerpo de la página */
body{
    font-family: monospace;
    background-color:rgb(238, 238, 238);
    display:flex;
    justify-content: center;
    align-items: center;
    height:90vh;
    margin:0;
}

/* Contenedor principal de la calculadora */
.container{
    background-color: rgb(220, 20, 153);
    padding: 2rem;
    border-radius: 12px;
    box-shadow:0cap;
}

/* Estilo del título principal */
h1{
    color: white;
}

/* Estilo del subtítulo */
h2{
    color: white;
    margin-bottom: 1.5rem;
}

/* Estilos para los INPUT */
input{
    width:100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 16px;
    font-size: 1rem;
    box-sizing: border-box;
}

/* Efecto cuando el usuario selecciona un input */
input:focus{
    border-color: gray;
    outline: none;
    box-shadow: 0 0 16px white;
}

/* Estilos del botón */
button{
    width: 100%;
    box-sizing: border-box;
    padding: 12px;
    background-color: rgb(255, 0, 157);
    color: white;
    border: none;
    border-radius: 16px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color
    0.3s ease;
    margin-top: 10px;
}

/* Efecto al pasar el mouse sobre el botón */
button:hover{
    background-color: rgba(255, 0, 0, 0.445);
}

/* Estilo del texto donde se muestra el resultado */
#resultado{
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
}